.score-area {
    background-color: maroon;
    padding:10px;
    display: flex;
    border-bottom: 5px solid  gold;

}

.score-area-list {
    width: 80%;
    display: inline-flex;
    font-size: 50px;
    overflow-x: scroll;
}

.score-area-total {
    background-color: black;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 20px;
    border: 5px solid  gold;
    color: white;
    
}

.score-card {
    border: solid 2px black;
    border-radius: 10px;
    width: 7px;
    height: 35px;
    background-color: white;
    padding: 15px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 5px;
}

.score-card.red {
  color:red;
}